*, *::after, *::before {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

img, video, svg {
  display: block;
  border: 20px solid;
  border-radius: 15px;
  max-width: 90%;
}

.parallax {
  margin-top: 100px;
  margin-left: 100px;
  width: 90%;
  height: 90%;
  opacity: 0;
}

.parallax--loaded {
  opacity: 1;
}

.parallax__wrapper {
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(0);
  will-change: transform;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.parallax__item {
  display: block;
  width: 100%;
}

.parallax__item:not(:first-of-type) {
  position: absolute;
  top: 0;
  left: 0;
}